html, body, #doc, #page-outer {
    height: 100%;
}
body {
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
}
.shadow {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.03);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 4px rgba(0,0,0,.03);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 4px rgba(0,0,0,.03);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.overflow-visible {
  white-space: initial;
}
.inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}
.left-12{
  margin-left:12px;
}

.feed-item__icon {
    width: 70px;
    height: 70px;
    border: 1px solid #f9f9f9;
    border-radius: 13px;
    background-color:#ccc;
    position: relative;
    min-width:45px;
    
    }


.feed-item__icon:before {
    content: "JS";
    position:relative;
    top:40%;
    left:40%;
    width: 25%;
    height: 25%;
    bottom:10px;
    font-size: 2.0em;
    text-align: right;
    display: block;

    line-height: 40px;
}

.feed-container{

    flex-wrap: nowrap;
    vertical-align: text-bottom;
    align-items: center;
    width:100%;
    margin:4px;
 
}

.feed-item{vertical-align: top; min-height: 74px;}
.feed-item__title {
     
      font-weight:bold;
      padding-bottom: 2px;
     
      margin:0px;
}
.feed-item__body{margin:0px; word-wrap:break-word;font-size: 14px;
    line-height: 20px;}
.feed-item__link{color:grey;text-decoration:none;}

.feed-item__timestamp{
 position:absolute;
top:15px;
left:80%;
}


.list-item__comment{
 clear:both;
 min-wdith:200px;
 padding:10px;
 background-color:#fff;
}
